@import "mixins";
@import "svgicons";
@import "ui";
@import "transitions";

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    cursor: default;

    *:focus {
        outline: none;
        box-shadow: none;
    }
}

svg, button {
    user-select: none;
}

.row {
    margin: 0 -5px;

    & > div {
        padding: 0 5px;
    }

    @include up($md) {
        margin: 0 -10px;

        & > div {
            padding: 0 10px;
        }
    }
}

.router-link-exact-active {
    cursor: pointer;
    pointer-events: none;
}

.col-3 {
	overflow: visible;

	&.col-lg-qwe {
		@include up($lg) {
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
}

.container {
    padding: 0 10px;

    @include up($md) {
        padding: 0 10px;
    }
}

a {
    color: inherit;
}

main {
    padding-top: 92px;
    padding-bottom: 70px;

    @include up($md) {
        padding-top: 112px;
        padding-bottom: 111px;
    }
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
