.form {
    &-control {
        font-size: inherit;
        font-weight: bold;
        border: none;
        border-radius: $border-radius-md;
        background: #d1d1d1;

        padding-top: 3px;
        padding-bottom: 3px;
        height: auto;

        &:focus {
            box-shadow: none;
            border: none;
            background: #d1d1d1;
        }

        &[type="text"] {
            padding-left: 34px;
        }

        @include up($md) {
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: $border-radius-lg;
        }
    }
}

.input-group {
    &-prepend {
        border-radius: $border-radius-md 0 0 $border-radius-md;
        background: #d1d1d1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;

        @include up($md) {
            border-radius: $border-radius-lg 0 0 $border-radius-lg;
        }
    }
}

.btn {
    padding: 2px 6px;

    &-outline {
        &-primary {
            color: inherit;
            min-width: 99px;
            border-radius: $border-radius-md;
            background: #ebebeb;
            transition: $transition;

            &:hover,
            &.btn-active,
            &.router-link-exact-active {
                border: solid 1px #cbcaca;
                background: #717171;
                box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
                color: #ebebeb;
            }

            @include up($md) {
                min-width: 86px;
            }
        }
    }

    @include up($md) {
        padding: 7px 6px;
    }
}

.vue-slider {
    padding: 13px !important;
    height: 6px !important;

    &-process {
        background: #717171;
    }

    &-dot {
        width: 25px !important;
        height: 25px !important;
        
        &-handle {
            background: #ebebeb;
            border: none;
            box-shadow: none;
        }

        &-tooltip {
            display: none;
        }
    }

    &:hover {
        .vue-slider-process {
            background: #717171;
        }
    }
}
